---
import { prisma } from "@lib/prisma";
import { getPosts } from "@lib/services/posts";

import Layout from "@layouts/Layout.astro";

import Author from "@components/Common/Author.astro";
import PostPreview from "@components/Post/PostPreview.astro";
import Pagination from "@components/Common/Pagination.astro";

const { username } = Astro.params;
const pageNumber = Math.max(1, Number(Astro.url.searchParams.get("paged")) || 1);

const user = await prisma.user.findFirst({ where: { username } });
if (!user) return new Response(null, { status: 404 });

const { posts, pageCount } = await getPosts({ page: pageNumber, username });
---

<Layout title={`${user.username} | Roblox Blog`} type="archive">
  <header class="page-header">
    <h1 class="page-title author">
      Author Archives: <span class="vcard"
        ><a
          class="url fn n"
          href={`/author/${user.username}/`}
          title={user.username}
          rel="me">{user.username}</a
        ></span
      >
    </h1>
  </header>

  <Author user={user} />

  {pageNumber > 1 && (
      <Pagination pageNumber={pageNumber} maxPageCount={pageCount} />
    )}

  {posts.map((post) => <PostPreview post={post} />)}

  <Pagination pageNumber={pageNumber} maxPageCount={pageCount} />
</Layout>
