---
import { getPostUrl } from "@utils/url";
import { prisma } from "@lib/prisma";

const { user } = Astro.locals;

const categories = await prisma.category.findMany();

const posts = await prisma.post.findMany({
  select: { title: true, slug: true, dateCreated: true },
  orderBy: { dateCreated: "desc" },
  take: 5
});

const adjustDisplayDates = Astro.cookies.get("larp-mode")?.value === "true";
---

<div id="secondary" class="widget-area" role="complementary">
  <aside id="text-6" class="widget widget_text">
    <div class="textwidget">
      <ul id="sidebarLinks">
        <li id="sidebarLinkRss">
          <a href="/?feed=rss">RSS</a>
        </li>
      </ul>
    </div>
  </aside>
  <aside id="search-3" class="widget widget_search">
    <h3 class="widget-title">Search</h3>
    <form method="get" id="searchform" action="/">
      <label for="s" class="assistive-text">Search</label>
      <input type="text" class="field" name="s" id="s" placeholder="Search" />
      <input
        type="submit"
        class="submit"
        name="submit"
        id="searchsubmit"
        value="Search"
      />
    </form>
  </aside>
  <aside id="recent-posts-3" class="widget widget_recent_entries">
    <h3 class="widget-title">Recent Posts</h3>
    <ul>
      {posts.map((post) => (
        <li>
          <a 
            href={getPostUrl(post)} 
            title={post.title}>
            {post.title}
          </a>
        </li>
      ))}
    </ul>
  </aside>
  <aside id="categories-3" class="widget widget_categories">
    <h3 class="widget-title">Categories</h3>
    <select name="cat" id="cat" class="postform">
      <option value="-1">Select Category</option>
      {categories.map((category) => (
        <option class="level-0" value={category.id}>{category.categoryName}</option>
      ))}
    </select>
    <script type="text/javascript">
      var dropdown = document.getElementById("cat");

      function onCatChange() {
        if (dropdown.options[dropdown.selectedIndex].value > 0) {
          location.href =
            "/?cat=" +
            dropdown.options[dropdown.selectedIndex].value;
        }
      }
      dropdown.onchange = onCatChange;
    </script>
  </aside>
  <aside id="linkcat-9" class="widget widget_links">
    <h3 class="widget-title">ROBLOX</h3>
    <ul class="xoxo blogroll">
      <li>
        <a
          href={`http://wiki.${import.meta.env.PUBLIC_WEBSITE_URL}`}
          title="Articles for Lua scripting and building in ROBLOX Studio."
          target=""
          >Building/Scripting Wiki</a
        >
      </li>
      <li>
        <a
          href={`http://wiki.${import.meta.env.PUBLIC_WEBSITE_URL}/index.php/Change_Log`}
          rel="me"
          title="A list of changes in each update of ROBLOX."
          target="_blank"
          >Product Change Log</a
        >
      </li>
      <li>
        <a
          href="/wallpapers"
          title="ROBLOX wallpapers for your computer desktop."
          target=""
          >Wallpapers</a
        >
      </li>
    </ul>
  </aside>

  {user && (
    <aside class="widget widget_links">
      <h3 class="widget-title">{user.username}</h3>
      <ul class="xoxo blogroll">
        <li>
          <a href="/dashboard/new" title="Create a new blog post.">
            New Post
          </a>
        </li>
        <li>
          <a href="/dashboard" title="Go to the dashboard.">
            Dashboard
          </a>
        </li>
        <li>
          <a href="/dashboard/profile" title="Manage your profile settings.">
            Settings
          </a>
        </li>
        <li>
          <a href="/api/logout">
            Log Out
          </a>
        </li>
      </ul>
    </aside>
  )}
</div>
