---
import Layout from "@layouts/Layout.astro";

import { getRSSFeed } from "@lib/prisma";

import { getPosts } from "@lib/services/posts";

import PostPreview from "@components/Post/PostPreview.astro";
import Pagination from "@components/Common/Pagination.astro";

// Extract and validate search paramters
const pageNumber = Math.max(1, Number(Astro.url.searchParams.get("paged")) || 1);
const category = Astro.url.searchParams.get("cat") || "";
const searchQuery = Astro.url.searchParams.get("s") || "";

const feed = Astro.url.searchParams.get("feed") || "";

if (feed === "rss")
  return await getRSSFeed();

const { posts, pageCount } = await getPosts({ page: pageNumber, category, searchQuery });
---

<Layout title="Roblox Blog > Free Games at Roblox.com">
  {pageNumber > 1 && (
    <Pagination pageNumber={pageNumber} maxPageCount={pageCount} />
  )}

  {posts.length === 0 && (
	  <p>No results matched your query.</p>
  )}

  {posts.map((post) => <PostPreview post={post} />)}

  <Pagination pageNumber={pageNumber} maxPageCount={pageCount} />
</Layout>
