---
import type { User } from '@utils/types/user';

interface Props {
    user: User,
    linkAuthor?: boolean;
}

const { user, linkAuthor } = Astro.props;
---

<div id="author-info">
  <div id="author-avatar">
    <img
      alt=""
      src={`${import.meta.env.PUBLIC_CDN_URL}/images/pfp/${user.pfp}`}
      class="avatar photo"
      width="68"
      height="68"
    />
  </div>
  <div id="author-description">
    <h2>About {user.username}</h2>
    {user.bio ?? "Blog Poster"}
    {linkAuthor && (
      <div id="author-link"><a href={`/author/${user.username}/`} rel="author">View all posts by {user.username} <span class="meta-nav">→</span></a></div>
    )}
  </div>
</div>