---
import { marked } from "marked";

import Author from "@components/Common/Author.astro";

import type { Post } from "@utils/types/post";

import { formatDateWithOrdinal } from "@utils/date";
import { globalMarkedExtensions } from "@utils/index";
import { getPostUrl } from "@utils/url";

interface Props {
  post: Post;
}

const { post } = Astro.props;
const { user } = Astro.locals;

marked.use(globalMarkedExtensions);
const content = marked.parse(post.content ?? "Nothing.");
---

<article id={`post-${post.id}`} class={`post-${post.id} post type-post status-publish format-standard hentry`}>
  <header class="entry-header">
    <h1 class="entry-title">
      <a 
        href={getPostUrl(post)}
        title={post.title}
        rel="bookmark"
        >
        {post.title}
      </a>
    </h1>
    <div class="entry-meta">
      <span class="by-author">
        <span class="sep"> By </span> 
        <span class="author vcard">
          <a class="url fn n" href={`/author/${post.author.username}/`} title={`View all posts by ${post.author.username}`} rel="author">{post.author.username}</a>
        </span>
      </span> - 
      <time class="entry-date" datetime={post.dateCreated.toISOString()}>{formatDateWithOrdinal(post.dateCreated)}</time>
      {user && (
        <span>
          - 
          <a href={`/dashboard/edit?id=${post.id}`}>Edit</a> or
          <a
            href="#"
            onclick={`
                    if (window.confirm("Are you sure you want to delete this post?")) {
                        window.location = "/api/post/delete?id=${post.id}";
                    }`}
          >
            Delete
          </a>
        </span>
    )}
    </div>
  </header>
  <div class="entry-content">
    <Fragment set:html={content} />
  </div>

  <footer class="entry-meta">
      This entry was posted in
      <Fragment
        set:html={post.categories
          .map((category: any) => {
            return `<a href="/category/${category.categoryName}" title="View all posts in ${category.categoryName}" rel="category tag">${category.categoryName}</a>`;
          })
          .join(", ") || "<i>No Categories</i>"}
      />
      by
      <a href={`/author/${post.author.username}/`}>{post.author.username}</a>
      . Bookmark the
      <a href={getPostUrl(post)}
        title={post.title}
        rel="bookmark"
        >permalink</a>.

      <Author user={post.author} linkAuthor={true} />
  </footer>
</article>

<div id="comments">
  <p class="nocomments"></p>
</div>